body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.wrapper{

  max-width:1140px ;
  width: calc(100%-360px);
  margin: 0 auto;
  

}

.word{

  padding: 0 15px;

}
.lang img{

  margin-top: 40px;
  height: 20px;
  padding: 0 3px;
}
.lang{

  float: right;
  padding: 0 15px;

}

.bold{

  font-weight: 700;

}

header{

  background-color: black;

}

.topnav {
  overflow: hidden;
  background-color: black;
  justify-content: flex-end;
  min-height: 100px;
  line-height: 100px;
  
}

.nav{

  display: flex;
  justify-content: flex-end;

}

.topnav a{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

#logo{
  
  display: block;
  float: left;
  text-align: left;
  font-size: 24px;
  margin-left: 15px;

}

#logo:hover{

  color: white;

}

.topnav a:hover {

  color: #ff8a00;
}

.topnav a.active {

  color: #ff8a00;
  padding: 0 15px;

}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    padding-right: 15px;
  }
  .topnav .lang a{display: none;}
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav .active{

    margin-top: 50px;
    display: none;
    order: 1;

  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  .topnav.responsive.lang img{
    float: none;
    display: block;
    text-align: right;
  }

  .topnav{

    display: block;

  }

  .nav{

    display: block;

  }
  .lang{

    display: flex;

  }

  .sect_2 a{

    margin-top: 5px;

  }

}

a{

  text-decoration: none;
  color: white;

}

.top_section{

  height: 1000px;
  background-color: gray;
  background-image: url(../images/bricks.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 15px;

}

.top_top_p {

  font-size: 36px;
  letter-spacing: 0.2em;
  color: white;
  padding-top: 270px;
  margin-top: 0em;
  margin-bottom: 0;

}

.top_section h2{

  color: white;
  font-weight: 700;
  font-size: 104px;
  margin: 0 0;

}

.top_section h2 span{

  color: #ff8a00;

}

.p_2{

  color: white;
  font-size: 36px;
  padding-bottom: 110px;
  padding-top: 10px;

}

.top_section a{

  display: block;
  background-color: #ff8a00;
  color: #fff;
  width: 270px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 3px;
  font-weight: 700;
  font-size: 17px;
  border: none;

}

.top_section a img{

  margin-left: 16px;
  margin-top: -1px;

}

.sect_2{

  min-height: 115px;
  background-image: url(../images/wallpattern.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: gray;
  padding-top: 85px;
  padding-bottom: 10px;
  text-align: center;
  

}

.sect_3{

  min-height: 900px;
  

}
.sect_in3{

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  

}
.dots{

  display: flex;
  font-size: 18px;
  padding-top: 100px;
  text-transform: uppercase;


}

.sect_3 .compass_card:hover > img{

  content: url("../images/compass_white.png")

}

.sect_3 li:hover{

  background-color: #ffa600;
  

}

.sect_3 .compass_card:hover > h3{

color: #f2f2f2;

}

.sect_3 .compass_card:hover > a{

  color: #f2f2f2;

}

.sect_3 .compass_card:hover > p{

  color: #f2f2f2;

}

.sect_3 .compass_card:hover > a img{

  content: url(../images/arrowWhite.png);

}



.sect_3 .trowel_card:hover > img{

  content: url("../images/trowel_white.png")

}

.sect_3 .trowel_card:hover > h3{

color: #f2f2f2;

}

.sect_3 .trowel_card:hover > a{

  color: #f2f2f2;

}

.sect_3 .trowel_card:hover > p{

  color: #f2f2f2;

}

.sect_3 .trowel_card:hover > a img{

  content: url(../images/arrowWhite.png);

}



.sect_3 .brick_card:hover > img{

  content: url("../images/brick_white.png")

}

.sect_3 .brick_card:hover > h3{

color: #f2f2f2;

}

.sect_3 .brick_card:hover > a{

  color: #f2f2f2;

}

.sect_3 .brick_card:hover > p{

  color: #f2f2f2;

}

.sect_3 .brick_card:hover > a img{

  content: url(../images/arrowWhite.png);

}
.dots h3{

  margin-top: 0;

}

.dots img{

  height: 100%;
  padding-top: 15px;
  padding-right: 12px;
  padding-left: 12px;

}

.sect_3 h2{

  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #404040;
  padding-top: 13px;
  padding-bottom: 27px;
}

.sect_3 h2 span{

  color: #ff8a00;

}

.sect_3 ul{

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.sect_3 p{

  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #626262;

}

.sect_3 li{

  display: block;
  height: 400px;
  width: 368px;
  border-style: solid;
  border-width: 1px;
  transition: background-color 1s ease;
  border-color: #ff8a00;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 8px;
}

.sect_3 a {

  color: #404040;
  font-weight: 700;
  text-transform: uppercase;

}

.svgimg {

  margin-top: 49px;
  height: 60px;
  margin-bottom: 15px;

}

.sect_3 li p{

  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 20px;

}

.sect_3 h3{

  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #404040;

}

.insect_2{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

}

.sect_2 h3{

  display: block;
  margin-bottom: auto;

}

.sect_2 h3{

  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 10px;

}

.sect_2 a{

  display: block;
  height: 70px;
  width: 270px;
  background-color: #404040;
  line-height: 70px;
  text-align: center;
  border-radius: 7px;
  margin-top: -10px;
  margin: -10px auto;
  margin-bottom: 10px;

}

.sect_2 a img{

  margin-left: 10px;

}

footer{

  min-height: 70px;
  background-color: #404040;
  font-size: 13px;
  line-height: 70px;
  color: white;

}

.footer{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;

}